body{
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.666;
    background-color: #c0d2d4;
    background-color: #c0d2d4;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

h1{
    font-weight: 900;
    font-size: 7rem;
    text-align: center;
    color: #fff;
    line-height: 1.2;
    background-color: #2ec2b0;
    padding: 5px 15px;
    border-radius: 30px;
    width: 50%;
    margin: 4rem 25% 0 25%;
}

.dictionary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.term{
    height: auto;
    color: #2ec2b0;
    background-color: #fff;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 80px;
    transition: all 100ms ease-in-out;
    max-width: 30rem;
    margin: 60px 20px 0 20px;
    border-radius: 30px;
    
}

.emoji{
    font-size: 7rem;
    text-align: center;
}

dt span{
    color: #2ec2b0;
    font-size: 3rem;
    display: block;
}

dd{
    margin: 0;
    font-size: 1.6rem;
    box-sizing: content-box;
}

@media only screen and (max-width: 1300px){
    h1 {
        font-size: 3rem;
        width: 80%;
        margin: 4rem 10% 0 10%;
        padding: 5px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 400px){
    h1 {
        font-size: 2.5rem;
    }
}

footer{
    font-size: 1rem;
}

